<!-- About Section -->
<section id="about" class="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 animated hiding" data-animation="fadeInDown" data-delay="500">
            <h4>{{ site.aboutTitle }}</h4>
            <h5  style="text-align:left;">Geekcon is a 3-days event that brings together top talents to get nuts and create useless and fun projects. The best makers, industrial designers, hackers and engineers in Israel and abroad drink enough beer to invent useless projects that they probably can’t and shouldn’t make – then they try to create them knowingly the process is as important as the result. 
            <br />The only way to get in is by teaming up to build something useless.
            <br /><br /><b>No project = no entry!</b>
            <br />This means you need to either join a project or create your own.
            <br />Last year we built a humus 3D printer, a car race that operates on positive thoughts and one real life Pacman. Trust us - you don't want to miss out.
            <br /><br />
            <b>How does the application process work?</b>
            <br />First, the organizing team gets together and drinks lots of beer. Then, we decide if your project is crazy enough to fail.
            <br />Democracy? Look where it got us.</h5>
            <br /><br /><br /><br />
        </div>
    </div>
</section>
<!-- End About Section -->
