<!-- Begin Tickets 2 Section -->
<section id="tickets" class="tickets-2">
	<div class="content-wrapper">
		<h3>{{ site.ticketsTitle }}</h3>
		<!-- Hadar: I deleted the form action just for the public github commit -->
		<form action="" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
			<div class="ss-form-question errorbox-good" role="listitem">
				<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
					<label class="ss-q-item-label" for="entry_1744575101"><div class="ss-q-title">Full Name
						<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
						<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
						<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
						<input type="text" name="entry.1744575101" value="" class="ss-q-short" id="entry_1744575101" dir="auto" aria-label="Full Name  " aria-required="true" required="" title="">
						<div class="error-message" id="1108930442_errorMessage"></div>
						
					</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
					<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
						<label class="ss-q-item-label" for="entry_432667619"><div class="ss-q-title">Email
							<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
							<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
							<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
							<input type="text" name="entry.432667619" value="" class="ss-q-short" id="entry_432667619" dir="auto" aria-label="Email  " aria-required="true" required="" title="">
							<div class="error-message" id="1067467821_errorMessage"></div>
							
						</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
						<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
							<label class="ss-q-item-label" for="entry_1882556807"><div class="ss-q-title">Phone
								<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
								<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
								<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
								<input type="text" name="entry.1882556807" value="" class="ss-q-short" id="entry_1882556807" dir="auto" aria-label="Phone  " aria-required="true" required="" title="">
								<div class="error-message" id="1692268442_errorMessage"></div>
								
							</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
							<div dir="ltr" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
								<label class="ss-q-item-label" for="entry_1779654549"><div class="ss-q-title">Your project status
									<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
									<span class="ss-required-asterisk" aria-hidden="true">*</span></div>
									<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
									<select name="entry.1779654549" id="entry_1779654549" aria-label="Your project status  " aria-required="true" required=""><option value=""></option>
										<option value="I have a project and a team">I have a project and a team</option> <option value="I have a project but no team">I have a project but no team</option> <option value="I want to join a project">I want to join a project</option></select>
									</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_1330218408"><div class="ss-q-title">Describe your project (if exists) in one sentence
										</div>
										<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
										<textarea name="entry.1330218408" rows="8" cols="0" class="ss-q-long" id="entry_1330218408" dir="auto" aria-label="Describe your project (if exists) in one sentence  Must be fewer than 150 characters."></textarea>
										<div class="error-message" id="1806334447_errorMessage">Must be fewer than 150 characters.</div>

									</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_879109275"><div class="ss-q-title">Want to join a project? tell us your best skills!
										</div>
										<div class="ss-q-help ss-secondary-text" dir="ltr">Design, coding, mechanics etc...</div></label>
										<textarea name="entry.879109275" rows="8" cols="0" class="ss-q-long" id="entry_879109275" dir="auto" aria-label="Want to join a project? tell us your best skills! Design, coding, mechanics etc... "></textarea>
										<div class="error-message" id="1493660741_errorMessage"></div>

									</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
									<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
										<label class="ss-q-item-label" for="entry_503733672"><div class="ss-q-title">Where did you hear about GeekCon?
										</div>
										<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
										<textarea name="entry.503733672" rows="8" cols="0" class="ss-q-long" id="entry_503733672" dir="auto" aria-label="Where did you hear about GeekCon?  Must be at least 150 characters."></textarea>
										<div class="error-message" id="826767989_errorMessage">Must be at least 150 characters.</div>

									</div></div></div>
									<input type="hidden" name="draftResponse" value="[,,&quot;-2192714042877438258&quot;]
									">
									<input type="hidden" name="pageHistory" value="0">


									<input type="hidden" name="fbzx" value="-2192714042877438258">

									<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
									<input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action " class="IR"></td>
									</tr></tbody></table></div></ol></form>
								</div>
							</section>
							<!-- End Tickets 2 Section -->
